* {
    margin: 50;
    padding: 50;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition: .3s width, .3s height .3, .3s margin-top .3s, 1s background-color;
}

.size {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.caption {
    background-color: black;
}

.hl {
    color: red;
}

h3 {
    font-family: arial;
    font-size: 80px;
    color: blue;
}

.nama span {
    display: inline-block;
    transition: .3s;
    cursor: pointer;
}

.nama span:hover {
    transform: scale(2) translateY(-20px);
}